<div class="text-center">
  <h1 class="font-weight-bold">NaganoCakeの背景</h1>
    <p>元々近隣住民が顧客だったが、昨年始めたInstagramから人気となり、全国から注文が来るようになった。<br>
      InstagramのDMやメールで通販の注文を受けていたが、情報管理が煩雑になってきたため、
      管理機能を含んだ通販サイトを開設しようと思い至った。
    </p>
</div>