<h1>商品一覧</h1>
<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th></th>
      <th>商品名</th>
      <th>商品画像</th>
      <th>税込価格</th>
      <th>個数</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td></td>
        <td><%= link_to item.name, item_path(item.id) %></td>
        <td><%= image_tag item.get_image(80,80) %></td>
        <td><%= item.with_tax_price %></td>
        <td>
          <% if item.is_active == true %>
            <p>販売中</p>
          <% else %>
            <p>売り切れ</p>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>